* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
}

/* Utilities  */

/* Header  */

header .header_title {
  font-family: "Germania One", cursive;
  font-size: 5rem;
  text-align: center;
  position: relative;
  margin-top: 0.5rem;
}

header .header_title img {
  position: absolute;
  top: 10px;
  left: 15px;
  width: 6%;
}

header .header_subtitle {
  font-size: 0.8rem;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
}

/* Navbar  */

.navbar {
  background: #eeeded;
}

.navbar .items {
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}

.navbar .items a {
  text-decoration: none;
  color: black;
}

.navbar .items li:hover {
  background: #cccccc;
  flex-grow: 0.5;
  text-align: center;
}

/* Footer  */

footer {
  display: flex;
  background: rgb(223, 220, 220);
  font-weight: 300;
  padding: 0.8rem auto;
}

.footer_section {
  color: black;
  font-size: 1rem;
  
}

.footer_section .footer_title {
  font-family: "Germania One", cursive;
  font-size: 1.4rem;
  padding-left: 1rem;
}

.footer_section a {
  text-decoration: none;
  font-size: 0.8rem;
  color: rgb(63, 61, 61);
  font-weight: 300;
  padding-left: 1rem;
}

/* Top News */

.home-topnews {
  box-sizing: border-box;
  padding: 0;
  display: grid;
  /* grid-template-rows: repeat(3, 1fr); */
  grid-gap: 1rem;

}

.home-topnews .item {
}

.home-topnews .item .image_cover {
  position: relative;
  background-size: cover !important;
  height: 40rem;
  /* width: 40%; */
}

.home-topnews .item .description {
  position: absolute;
  bottom: 0;
}


.home-topnews .item .description span {
  background: #07b154;
  padding: .7rem;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.7rem;
}


.home-topnews .item .description div {
  padding: .7rem;
  font-size: 1.3rem;
  font-weight: 500;
  color: #fff;
  background: rgba(0, 0, 0, 0.555)
}